.borde{
    color:black;
    border: 1px;
    border-style: solid;
   
   }
   
   .encabezado {
   
   height: 60px;
  
   }
   
   .articulo{
   
       height: 300px;
       width: auto;
   }



   @media only screen and (min-width:660px){ 
    
  .container{

   
   background-color: black;
    
    flex-direction: column;

  }

 
    
    }