


p {
    color:rgb(27, 28, 29);
    font-size: 30xp;
    background-color: rgb(160, 205, 241);
    
    }
    
    
    .ColorRosa {
        
        font-family: cursive;
        text-shadow: 7px 4px 5px rgb(204, 18, 204);
        text-align: center;
        color:rgb(15, 15, 15)
        
    
    }
    
    .ush {
    
     text-align: center;
     font-style:italic;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    
    .ColorRojo{
      background-color: black;
      color:rgb(253, 11, 11);  
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .ColorUsh{
    
        color:aquamarine;
        background-color:black
        
    }
    
    .NotiPoliticas{
        text-align:center;
        font-size: 20px;
        background-color: rgb(146, 95, 146);
        color:rgb(15, 15, 14);
        font-weight:bold;
        font-family: monospace;
    }
    
    .NotiDeportivas{
    font-size: 20px;
    background-color: darkcyan;
    text-align: center;
    font-style: italic;
    }
    

    .patagonia {

        background-color: aqua;
        font-size: 15px;
        text-align:center;
        font-family: fantasy;
    }

    .serviciometeorologico {
      color: rgb(16, 115, 245);
      background-color: aqua;
      text-align: justify;
      font-family:monospace;
      font-size: medium;
     text-decoration: underline;
     text-indent: 50px;
     font-weight: bold;
    }