h1:hover {
    background-color: rgb(23, 107, 20);
    }

  div > h1 {

  background-color: crimson;
  }

  div + h2 {

    background-color: darkviolet;
}


div ~ h3 {

    background-color: rgb(92, 175, 103);
}

p ~ h4 {

    background-color: rgb(235, 238, 89);
    }
