.contenedor{

display: flex;
flex-direction:row;
background-color:darkgray;
justify-items: flex-start;
justify-content: space-around;
width: auto;
height: 100px;

}



.logo{
border-style: solid;
border-color:black;
background-color: blue;
width: 6%;
height: 25px;
color: antiquewhite;

}

.menu1{

  border-style:solid;
  border-color:black;
  background-color: green;
  width: 8%;
  height: 25px;
  color: antiquewhite;

}

.menu2{

  border-style: solid;
  border-color:black;
  background-color: brown;
  width: 15%;
  height: 25px;
  color: antiquewhite;
}




.contenedor2{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 700px;
  color: antiquewhite;
 
  
}


.divizquierda{
  border-style: solid;
  border-color:black;
  background-color:grey;
  width: 30%;
  height: 280px;
  
  
}

.divcentro{
  border-style: solid;
  border-color:black;
  background-color:aquamarine;
  width: 30%;
  height: 280px;
 
}


.divderecha{

  border-style: solid;
  border-color:black;
  background-color:chocolate;
  width: 30%;
  height: 280px;
 
 }

.divizquierda2{
  border-style: solid;
  border-color:black;
  background-color:darkgreen;
  width: 65%;
  height: 280px;
   }

.divderecha2{
  border-style: solid;
  border-color:black;
  background-color:crimson;
  width: 30%;
  height: 280px;
 
}



#pie{
  border-style: solid;
  border-color:black;
  background-color: cyan;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items:flex-start;
  width: auto;
  height: 100px;
}
#divelemento{
  display: flex;
  border-style: solid;
  border-color:black;
  color: blueviolet;
  align-items: center;
  justify-items: flex-end;
  width: auto;
  height: 25px;
  
}


    #divelemento{
       flex-direction: row;
      border-style:dashed;
      
    }
  .contenedor{

   border-style: double;
   background-color: rgb(16, 151, 140);
    
    flex-direction: row-reverse;
    align-items: flex-end;

  }
.contenedor2{ 
  border-style:dashed;
 
     flex-direction:row-reverse;
    }
    @media only screen and (min-width: 200px){ 
      body{
  
        background-color: rgb(9, 56, 184);
       
       flex-direction: column;
  
      }